<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>CW Icon - 512</string>
	<key>CFBundleIdentifier</key>
	<string>com.pftqg.CheetahWatch</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6</string>
	<key>CFBundleSignature</key>
	<string>PQG0</string>
	<key>CFBundleVersion</key>
	<string>10</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>CWApplication</string>
	<key>SUFeedURL</key>
	<string>http://ae.m.ac.nz/softwareupdate/feed/agdwYXRyaWNrchQLEg1TVUFwcGxpY2F0aW9uGK8gDA/?version=%@&amp;software=${EXECUTABLE_NAME}</string>
	<key>SUScheduledCheckInterval</key>
	<integer>604800</integer>
</dict>
</plist>
