<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>devicePath</key>
		<string>/dev/cu.ZTEUSBATPort_000010241</string>
		<key>matchingDictionary</key>
		<dict>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>49</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
	</dict>
	<dict>
		<key>devicePath</key>
		<string>/dev/cu.ZTEUSBATPort_</string>
		<key>matchingDictionary</key>
		<dict>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8194</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
	</dict>
	<dict>
		<key>devicePath</key>
		<string>/dev/cu.HUAWEIMobile-Pcui</string>
		<key>matchingDictionary</key>
		<dict>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>4097</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
	</dict>
	<dict>
		<key>devicePath</key>
		<string>/dev/cu.HUAWEIMobile-Pcui</string>
		<key>matchingDictionary</key>
		<dict>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>4099</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
	</dict>
	<dict>
		<key>devicePath</key>
		<string>/dev/cu.HUAWEIMobile-Pcui</string>
		<key>matchingDictionary</key>
		<dict>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>5382</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
	</dict>
	<dict>
		<key>devicePath</key>
		<string>/dev/cu.ZTEUSBATPort_</string>
		<key>matchingDictionary</key>
		<dict>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>23</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
	</dict>
	<dict>
		<key>devicePath</key>
		<string>/dev/cu.HUAWEIMobile-Pcui</string>
		<key>matchingDictionary</key>
		<dict>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>5174</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
	</dict>
</array>
</plist>
